:root {
  --actions-primary-disabled: #b7b8cf;
  --actions-primary-fill: #20216b;
  --actions-primary-text: #ffffff;
  --actions-primary-onpressfill: #131355;
  --actions-secondary-text: #20216b;
  --actions-secondary-border: #20216b;
  --actions-secondary-fill: #ffffff;
  --actions-secondary-onpressfill: #20216b;
  --actions-secondary-onpresstext: #ffffff;
  --actions-status-error: #ab2218;
  --actions-status-warning: #d59c0c;
  --actions-status-success: #37a933;
  --typography-type1: #20216b;
  --typography-type5: #838a9e;
  --typography-type4: #08173e;
  --typography-type3: #ffffff;
  --typography-type2: #6173a1;
  --backgrounds-bg3: #ffffff;
  --backgrounds-bg1: #20216b;
  --backgrounds-bg2: #f6f6f9;
  --backgrounds-bg4: #dfe9ed;
  --themes-theme1: #20216b;
  --themes-theme2: #ab2218;
  --themes-theme3: #ffffff;
  --themes-theme4: #cbccdc;
  --themes-theme5: #dfe9ed;
  --neutrals-n2: #f5f5f5;
  --neutrals-n1: #ffffff;
  --neutrals-n3: #d3d3d3;
  --neutrals-n4: #909090;
  --neutrals-n5: #666666;
  --cards-fill: #ffffff;
  --cards-border: #d2d3e1;
  --nav-default: #8f90b5;
  --nav-onpress: #d2d3e1;
  --nav-active: #20216b;
  --input-border: #20216b;
  --input-typedefault: #838a9e;
  --input-typelabel: #08173e;
  --input-typeactive: #20216b;
}
h1 {
  font-family: PT Sans, sans-serif;
  font-size: 28px;
  letter-spacing: 0px;
  line-height: 36px;
  font-weight: 700;
  color: black;
}
h2 {
  font-family: PT Sans, sans-serif;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 28px;
  font-weight: 700;
  color: black;
}
h3 {
  font-family: PT Sans, sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 24px;
  font-weight: 700;
  color: black;
}
.bodylarge {
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  font-weight: 400;
  color: black;
}
.bodylargebold {
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  font-weight: 700;
  color: black;
}
.bodymedium {
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 16px;
  font-weight: 400;
  color: black;
}
.bodymediumbold {
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 16px;
  font-weight: 700;
  color: black;
}
.bodysmall {
  font-family: PT Sans, sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 16px;
  font-weight: 400;
  color: black;
}
.bodysmallbold {
  font-family: PT Sans, sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 16px;
  font-weight: 700;
  color: black;
}
.label {
  font-family: PT Sans, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}
